<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout (~{::content})">

<div th:fragment="content">

    <h1>Membres</h1>

    <a class="btn btn-primary mb-3" th:href="@{/members/new}">
        Nouveau membre
    </a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="m : ${members}">
            <td th:text="${m.fullName}"></td>
            <td th:text="${m.email}"></td>
            <td th:text="${m.phone}"></td>
        </tr>
        </tbody>
    </table>

</div>
</html>
